<div id="login-form" class="modal hide fade">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3>Login Form</h3>
	</div>
	<div class="modal-body">
			<dl>
				<dt>ID:</dt>
				<dd><input type="text" id="login-id"></dd>
				<dt>Password:</dt>
				<dd><input type="password" id="login-password"></dd>
			</dl>
	</div>
	<div class="modal-footer">
		<input type="button" value="login">
	</div>
</div>
